.container{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* 唱片指针 */
.needle{
    width: 84px;
    height: 122px;
    background: url(../img/needle.png);
    background-size: cover;
    position: absolute;
    z-index: 1005;
    left: 50%;
}

/* 歌曲信息和专辑图片 */
.song-info{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
}
.disc{
    width: 70%;
    padding-top: 70%;
    background: url(../img/disc.png);
    /* 图片外围 的 圈 */
    /* border: 2px solid red; */
    border-radius:50%;
    margin: auto;
    margin-top: 50px;
    background-size: cover;
    position: relative;
}
.song-img{
    width: 63%;
    height: 63%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
.song-img>img{
    width: 100%;
}
/* 毛玻璃背景 */
.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 995;
    display: flex;
    justify-content: center;
    filter: blur(10px) brightness(0.65);
}
.bg>img{
    width: 100%;
    height: 150%;
    position: relative;
    top: -30px;
}
/* 歌词效果 */
.song-lyric{
    margin-top: 20px;
}
.song-lyric>h2{
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: normal;
    padding: 15px;
}
.song-lyric>p{
    text-align: center;
    color: white;
    font-size: 13px;
}

.range-container{
    width: 70%;
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

/* 唱片转动的动画 */
/* @keyframes定义一段动画 */
@keyframes an{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}
.roll{
    /* animation:动画名称  时间长度  缓动类型：linear匀速  是否 重复infinite*/
    animation: an 20s linear infinite;
}
/* 给定旋转的状态判断 */
/* 播放状态 */
.playing{
    animation-play-state: running;
}
/* 暂停状态 */
.paused{
    animation-play-state: paused;
}

/* range样式开始 */
.custom-range {
    width: 100%;
    height: 1.4rem;
    padding: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .custom-range:focus {
    outline: none;
  }
  
  .custom-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .custom-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .custom-range:focus::-ms-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .custom-range::-moz-focus-outer {
    border: 0;
  }
  
  .custom-range::-webkit-slider-thumb {
    width: 1.2rem;
    height: 0.5rem;
    margin-top: -0.1rem;
    background-color: #D43C33;
    border: 0;
    border-radius: 0.2rem;
    -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    appearance: none;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .custom-range::-webkit-slider-thumb {
      -webkit-transition: none;
      transition: none;
    }
  }
  
  .custom-range::-webkit-slider-thumb:active {
    background-color: #b3d7ff;
  }
  
  .custom-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.25rem;
    color: transparent;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    border-color: transparent;
    border-radius: 1rem;
  }
  
  .custom-range::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background-color: #007bff;
    border: 0;
    border-radius: 1rem;
    -moz-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -moz-appearance: none;
    appearance: none;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .custom-range::-moz-range-thumb {
      -moz-transition: none;
      transition: none;
    }
  }
  
  .custom-range::-moz-range-thumb:active {
    background-color: #b3d7ff;
  }
  
  .custom-range::-moz-range-track {
    width: 100%;
    height: 0.5rem;
    color: transparent;
    cursor: pointer;
    background-color: #dee2e6;
    border-color: transparent;
    border-radius: 1rem;
  }
  
  .custom-range::-ms-thumb {
    width: 1rem;
    height: 1rem;
    margin-top: 0;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    background-color: #007bff;
    border: 0;
    border-radius: 1rem;
    -ms-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .custom-range::-ms-thumb {
      -ms-transition: none;
      transition: none;
    }
  }
  
  .custom-range::-ms-thumb:active {
    background-color: #b3d7ff;
  }
  
  .custom-range::-ms-track {
    width: 100%;
    height: 0.5rem;
    color: transparent;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    border-width: 0.5rem;
  }
  
  .custom-range::-ms-fill-lower {
    background-color: #dee2e6;
    border-radius: 1rem;
  }
  
  .custom-range::-ms-fill-upper {
    margin-right: 15px;
    background-color: #dee2e6;
    border-radius: 1rem;
  }
  
  .custom-range:disabled::-webkit-slider-thumb {
    background-color: #adb5bd;
  }
  
  .custom-range:disabled::-webkit-slider-runnable-track {
    cursor: default;
  }
  
  .custom-range:disabled::-moz-range-thumb {
    background-color: #adb5bd;
  }
  
  .custom-range:disabled::-moz-range-track {
    cursor: default;
  }
  
  .custom-range:disabled::-ms-thumb {
    background-color: #adb5bd;
  }
  /* range样式结尾 */